.logo1{
    border-radius: 40%;
    transition: 1s;
    width: 15%;
}
.logo:hover{
    width: 15%;
    border-radius: 40%;
    transition: 1s;
}

nav{
    margin-top: 1rem;
}

header{
    background-image: linear-gradient(to right, rgb(89, 255, 200) , rgb(240, 151, 165));/* faz um degrade da cor do elemento */
    display: flex;/* permite colocar os links ao lado da imagem */
    padding: 1rem;
}


nav li{
    display: inline;
    margin: 1rem; 
}

nav a{
    text-decoration: none; 
    font-size: 1.5rem;
    color: rgb(2, 2, 2);
    border: solid rgb(0, 0, 0);
    background: rgb(224, 174, 174);
    transition: 1s;
}

nav a:hover{ 
    font-size: 1.1rem;
    color: white; 
    border: solid rgb(119, 13, 13); 
    background: black; 
}

footer{
    text-align: center;
    background-image: linear-gradient(to right, rgb(89, 255, 200) , rgb(234, 150, 241));
    display: flex;

}
footer li{
    display: inline;
    margin: 0 0 0 100px;
}
footer a{
    text-decoration: none; 
    font-size: 1.5rem;
    color: rgb(2, 2, 2);
    border: solid rgb(0, 0, 0);
    background: rgb(224, 174, 174);
    transition: 1s;
}
footer a:hover{
    font-size: 1.1rem;
    color: white; 
    border: solid rgb(119, 13, 13); 
    background: black; 
}

main{
    text-align: justify; 
    background-color: rgb(231, 202, 248);
    margin: 2rem; 
    padding: 2rem; 
}
.familia{
    width: 40%; 
    float: right; 
    margin: 1rem;
}
.titulo_main{
    text-align: center;
}
.monalisa{
    width: 15%;
    border-radius: 40%;
    transition: 10s;
}
.ballet{
    width: 22%;
    border-radius: 40%;
    transition: 10s;
}
.musica{
    width: 22%;
    border-radius: 40%;
    transition: 10s;
}
.teatro{
    width: 22%;
    border-radius: 40%;
    transition: 10s;
}
.samba{
    width: 22%;
    border-radius: 40%;
    transition: 10s;
}
.ballet1{
    width: 22%;
    border-radius: 40%;
    transition: 10s;
}

.sreet{
    width: 22%;
    border-radius: 40%;
    transition: 10s;
}
.contemporaneo{
    width: 22%;
    border-radius: 40%;
    transition: 10s;
}
