body{
    background-color: rgb(243, 208, 234);
}

.logo1{
    width: 22%;
    border-radius: 40%;
    transition: 10s;
}
.logo:hover{
    width: 22%;
    border-radius: 40%;
    transition: 10s;
}
header{
    background-color:rgb(191, 246, 227);
    display: flex;
}
nav li{
    text-align: inline;
    margin: 60px;
}
nav{
    text-align: right;
    margin: 0 0 0 200px;
}
header{
    position: relative;
    top: 30%
}
nav li{
    display: inline;
    margin: 15px;
}
.monalisa{
    width: 15%;
    border-radius: 40%;
    transition: 10s;
}
main nav{
    text-align: left;
    margin: 0;
}
main nav p{
    text-align: right;
}
.ballet{
    width: 22%;
    border-radius: 40%;
    transition: 10s;
}
.musica{
    width: 22%;
    border-radius: 40%;
    transition: 10s;
}
.teatro{
    width: 22%;
    border-radius: 40%;
    transition: 10s;
}
footer{
    background-color:rgb(191, 246, 227);
    display: flex;
}
div li{
    text-align: inline;
    margin: 60px;
}
div{
    text-align: right;
    margin: 0 200px;
}
footer{
    position: relative;
    top: 30%
}
div li{
    display: inline;
    margin: 15px;
}
